/*Contenido*/

main{
    margin:0%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

@media screen and (max-width: 768px){

    main{
        grid-template-columns: 1fr 1fr;

    }
    article{
        max-width: 70%;
    }
    
}


article{
    max-width: 60%;
    margin: 10% auto 10% auto;
    min-height: 60%;
    max-height: 70%;
    
    padding: 5%;
    background-color: #e773069c;
    border-radius: 5%;
    box-shadow: 5px 10px #00000079;
    text-align: justify;
    font-size: large;
}

article img{
    width: 100%;
    max-height: 50%;
}